*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  width: 400px;
  background: #f2f2f2;
  margin: 1rem;
  border-radius: 7px;
}

.products h3 {
  color: tomato;
  flex: 2;
}
.products > * {
  margin: 10px;
}
