
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <style>
    form { display: flex; flex-direction: column; width: 400px; }
    </style>
  </head>
  <body>
    <h1>Create product</h1>
    <form action="" method="post">
      <label>Product Name </label>
      <input name="product_name" />

      <label>current stock (number)</label>
      <input name="current_stock" />

      <label>sellprice (int)</label>
      <input name="sellprice" />

      <label>buyprice (int)</label>
      <input name="buyprice" />

      <input type="submit" value="submit" />
    </form>
  </body>
</html>
